*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.parte-principal {

  width: 90%;
  margin: 20px auto;
  border: 2px solid #222;
  padding: 20px;
  display: block;

}

.header {
  background-color: #4da33f;
  padding: 20px;
  border: 3px solid #0066cc;
  margin-bottom: 20px;
}

.contenido {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 25%;
  background-color: #0066cc;
  padding: 15px;
  border: 2px solid #777;

}

.principal {
  width: 75%;
}

.tarjeta {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #333
}

.footer {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #444
  
}